@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(240, 10%, 3.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(240, 10%, 3.9%);
    --primary: hsl(346.8, 77.2%, 49.8%);
    --primary-foreground: hsl(355.7, 100%, 97.3%);
    --secondary: hsl(240, 4.8%, 95.9%);
    --secondary-foreground: hsl(240, 5.9%, 10%);
    --muted: hsl(240, 4.8%, 95.9%);
    --muted-foreground: hsl(240, 3.8%, 46.1%);
    --accent: hsl(240, 4.8%, 95.9%);
    --accent-foreground: hsl(240, 5.9%, 10%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(240, 5.9%, 90%);
    --input: hsl(240, 5.9%, 90%);
    --ring: hsl(346.8, 77.2%, 49.8%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(20, 14.3%, 4.1%);
    --foreground: hsl(0, 0%, 95%);
    --card: hsl(24, 9.8%, 10%);
    --card-foreground: hsl(0, 0%, 95%);
    --popover: hsl(0, 0%, 9%);
    --popover-foreground: hsl(0, 0%, 95%);
    --primary: hsl(346.8, 77.2%, 49.8%);
    --primary-foreground: hsl(355.7, 100%, 97.3%);
    --secondary: hsl(240, 3.7%, 15.9%);
    --secondary-foreground: hsl(0, 0%, 98%);
    --muted: hsl(0, 0%, 15%);
    --muted-foreground: hsl(240, 5%, 64.9%);
    --accent: hsl(12, 6.5%, 15.1%);
    --accent-foreground: hsl(0, 0%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 85.7%, 97.3%);
    --border: hsl(240, 3.7%, 15.9%);
    --input: hsl(240, 3.7%, 15.9%);
    --ring: hsl(346.8, 77.2%, 49.8%);
  }
}
*/

@layer base {
  :root {
    --background: hsl(210, 30%, 95%);
    --foreground: hsl(30, 20%, 15%);
    --card: hsl(210, 30%, 90%);
    --card-foreground: hsl(30, 20%, 15%);
    --popover: hsl(210, 30%, 95%);
    --popover-foreground: hsl(30, 20%, 15%);
    --primary: hsl(20, 80%, 50%);
    --primary-foreground: hsl(20, 10%, 95%);
    --secondary: hsl(180, 50%, 70%);
    --secondary-foreground: hsl(180, 10%, 15%);
    --muted: hsl(210, 20%, 85%);
    --muted-foreground: hsl(210, 30%, 15%);
    --accent: hsl(330, 70%, 50%);
    --accent-foreground: hsl(330, 10%, 95%);
    --destructive: hsl(0, 70%, 50%);
    --destructive-foreground: hsl(0, 10%, 95%);
    --border: hsl(30, 20%, 80%);
    --input: hsl(30, 20%, 80%);
    --ring: hsl(20, 80%, 50%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(210, 20%, 10%);
    --foreground: hsl(30, 10%, 90%);
    --card: hsl(210, 20%, 15%);
    --card-foreground: hsl(30, 10%, 90%);
    --popover: hsl(210, 20%, 5%);
    --popover-foreground: hsl(30, 10%, 90%);
    --primary: hsl(20, 80%, 50%);
    --primary-foreground: hsl(20, 10%, 95%);
    --secondary: hsl(180, 50%, 70%);
    --secondary-foreground: hsl(180, 10%, 15%);
    --muted: hsl(210, 30%, 20%);
    --muted-foreground: hsl(210, 20%, 90%);
    --accent: hsl(330, 70%, 50%);
    --accent-foreground: hsl(330, 10%, 95%);
    --destructive: hsl(0, 70%, 50%);
    --destructive-foreground: hsl(0, 10%, 95%);
    --border: hsl(30, 10%, 90%);
    --input: hsl(30, 10%, 90%);
    --ring: hsl(20, 80%, 50%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
}

* {
  scroll-behavior: smooth;
}

.background-animate {
  background-size: 200%;

  -webkit-animation: gradientMove 60s ease infinite;
  -moz-animation: gradientMove 60s ease infinite;
  animation: gradientMove 60s ease infinite;
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
